.container {
 display: flex;
 flex-direction: column;
}

* {
 box-sizing: border-box;
}

.title {
	display: flex;
  justify-content: space-between;
}


.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.container {
 padding: 10px;
 background: #DCDCDC;
  border-radius: 5px;
 margin: 45px auto;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.item {
 color: #778899;
 padding: 15px;
 margin: 5px;
 background: #778899;
 border-radius: 3px;
}

@media (min-width: 600px) {
 .container {
  flex-direction: row;
  justify-content: center;
 }
}

nav ul {
  display: flex;
  flex-flow: column;
	list-style: none;
  background-color: yellow;
}

#nav {
  padding: 0;
}

.authorbox img {
  /*visibility: hidden;*/
  display: none;
}

.pullquote {
  display: none;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container1 {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }
#container {width: 80%;}

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: e;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}

.container1 {
	display: flex;
	flex-direction: column;
}




@media (min-width: 600px) {
	.container1 {
		flex-direction: row;
		justify-content: center;
	}
}

body {
  background-color: #F8ECC2;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
  display: black;
  border-top: 1px #79896d solid;
}

nav a {
  color: #f8ecc2;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #65a8a6;
  margin: 0;
  padding: 0 10px;
}

.menu-trigger {
  order: 1;
}

header h1 {
  order: 2;

}

nav ul {
  display: none;
}

@media screen and (min-width:700px) {

  nav ul {
    display: flex;
  }

  nav ul li {border-top:none;}

  .menu-trigger {
    display: none;
  }

  header h1 {
    order: 1;
  }

  nav {
    order: 2;
  }
}
